# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
# important need change it to your settings file
default = wechat.settings_dev

[deploy]
#url = http://localhost:6800/
project = wechat
